.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  border: 1px solid black;
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.screen {
  background-color: grey;
  color: rgb(225, 225, 225);
  padding: 0.7rem;
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.buttonContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  border: 1px solid grey;
  background-color: rgb(212, 212, 212);
  color: rgb(39, 60, 60);
}

.zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.button-container > *:nth-child(4n+4),
.equal {
  background-color: orange;
}
